.container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 0.2fr;
    padding: 10px;

}
.fond {
    font-size: 11px;
    color: coral;
    margin-top: 5%;
}
.fond1 {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.699);
    margin-top: 5%;
}
.imge {
    width: 99%;
    margin-top: 5%;
}
.vng {
    margin-top: 7%;
    margin-left: 3%;
}
h2 {
    padding: 15px;
}
